process {
    withLabel: rstudio_container {
        container = 'kevinr9525/rocker-bioconductor:hlamajority-appnote'
    }
    withLabel: netmhcpan_container {
        container = 'kevinr9525/netmhcpan-4.1b.linux:csvkit'
    }
}

profiles {
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
}
